@charset "utf-8";
.my_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	text-align: center;
}
.menu_bar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #CCC;
}
.regulartext{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
}
.page_title{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
}
